# Logs & Environment
logs
*.log
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*

# Dependencies & Build (Backend + Frontend)
/vendor
/node_modules
dist
dist-ssr
/public/build
/public/hot
/public/storage

# IDE & Editor
.idea
.vscode
Thumbs.db
*.suo

# Testing & Cache
coverage
.phpunit.result.cache
/.phpunit.cache
.eslintcache
